.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: 100%;
}

/* Style the button and place it in the middle of the container/image */
.container .A {
  position: absolute;
  top: 80%;
  left: 42%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: slategray;
  color: beige;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 14%;
  height: 7%;
}

.container .B {
  position: absolute;
  top: 80%;
  left: 58%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: slategray;
  color: beige;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 14%;
  height: 7%;
}

.container .C {
  position: absolute;
  top: 90%;
  left: 42%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: slategray;
  color: beige;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 14%;
  height: 7%;
}

.container .D {
  position: absolute;
  top: 90%;
  left: 58%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: slategray;
  color: beige;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 14%;
  height: 7%;
}

.container .Next {
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: slategray;
  color: beige;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 14%;
  height: 7%;
}

.container .A:hover {
  background-color:beige;
  color:slategray;
}

.container .B:hover {
  background-color:beige;
  color:slategray;
}

.container .C:hover {
  background-color:beige;
  color:slategray;
}

.container .D:hover {
  background-color:beige;
  color:slategray;
}

.container .Next:hover {
  background-color:beige;
  color:slategray;
}